@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<a asp-page="/Account/RegisterUser" class="btn btn-primary">
    Register as User
</a>

<br />
<br />

<a asp-page="/Account/RegisterAdmin" class="btn btn-success">
    Register as Company
</a>

<br />
<br />

<a asp-page="/Account/AdminRegister" class="btn btn-danger">
    Register as Admin
</a>